.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.3s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.line-title:after, .line-title:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 3%;
  height: 2px;
  background-color: grey;
  position: relative;
}
.line-title:after {margin-right: -100%;right: -8px;}
.line-title:before {margin-left: -100%;right: 8px;}

.grad-bkg { background: linear-gradient(110deg, #272727, #373737); }
